<script>
import {mapActions} from "vuex";

export default {
    name: "UserCreatePage",
    data() {
        return {
            form: {
                email: '',
                password: '',
                age: ''
            }
        }

    },
    methods: {
        ...mapActions(['fetchUserCreateAction']),
        auth() {
            this.fetchUserCreateAction(this.form)
                .then(() => {
                    console.log('user muvaffaqiyatli yaratildi')
                    this.$router.push('/login')
                })
            console.log('bu UserCreate sahifasi auth() funksiyasi')
        }
    }
}

</script>

<template>
    <form class="col-6" @submit.prevent="auth">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            v-model="form.email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Parol</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
            v-model="form.password">
        </div>
        <div class="mb-3">
            <label for="exampleInputAge1" class="form-label">Yosh</label>
            <input type="number" class="form-control" id="exampleInputAge1" aria-describedby="emailHelp"
                   v-model="form.age">
        </div>
        <button type="submit" class="btn btn-primary">Yaratish</button>
    </form>
</template>

<style scoped>

</style>