<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "BooksRow",
    computed: {
        ...mapGetters(["getBooks"])
    },
    methods: {
        ...mapActions(['fetchBooks'])
    },
    watch: {
        '$route.params.id'() {
            console.log('id ozgarmoqda')
            this.fetchBooks({categoryId: this.$route.params.id})
        }
    },
    mounted() {
        console.log('bookRow componenti yuklandi')
        this.fetchBooks({categoryId: this.$route.params.id})
    }

}
</script>

<template>
    <div class="row">
        <!-- kitob boshlandi -->
        <div
                v-for="book of getBooks"
                v-bind:key="book.id"
                class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img :src="'http://localhost:8505' + book.picture.contentUrl" :alt="book.name"
                     class="card-img-top img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p class="card-text">{{ book.description }}</p>
                    <div class="mb-2">{{ book.price }} $</div>
                    <div>{{ book.category.name }}</div>
                    <router-link :to="'/book-info/' + book.id" class="btn btn-primary">O'qish</router-link>
                </div>
            </div>
        </div>
        <!-- kitob tugadi -->
    </div>


</template>

<style scoped>

</style>